<h1 style="text-align:center; padding-top: 50px;font-size: 50px;"><strong>Mockup Page Design</strong></h1>


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!-- Domain Column -->
  <ng-container matColumnDef="domain">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table1"> Domain </th>
    <td mat-cell *matCellDef="let element" class="table2"> {{element.domain}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table1"> Price </th>
    <td mat-cell *matCellDef="let element" class="table2"> {{element.price}} </td>
  </ng-container>

  <!-- clicks Column -->
  <ng-container matColumnDef="clicks">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table1"> Clicks </th>
    <td mat-cell *matCellDef="let element"class="table2"> {{element.clicks}} </td>
  </ng-container>

  <!-- update Column -->
  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table1"> Update </th>
    <td mat-cell *matCellDef="let element" class="table2"> {{element.update}} </td>
  </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                  #paginator
                 aria-label="Select page of periodic elements">
</mat-paginator>